<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'ProjeList'| translate}}</h4>
            <a *ngIf="checkClaim('CreateProjeCommand')" class="pull-right" data-toggle="modal" data-target="#proje"> <i style="color:white"  title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              
              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
              </div>
							<table mat-table [dataSource]="dataSource" matSort>


								
                   <ng-container matColumnDef="id">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Id'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.id}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="ustProjeId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'UstProjeId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.ustProjeId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="adi">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Adi'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.adi}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="aciklama">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Aciklama'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.aciklama}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="urlAdresi">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'UrlAdresi'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.urlAdresi}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="bakimUrlAdresi">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'BakimUrlAdresi'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.bakimUrlAdresi}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="logo">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Logo'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.logo}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="icon">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Icon'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.icon}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="iconText1">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'IconText1'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.iconText1}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="iconText2">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'IconText2'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.iconText2}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="iconText3">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'IconText3'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.iconText3}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="ico">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Ico'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.ico}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="kullanimKlavuzu">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'KullanimKlavuzu'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.kullanimKlavuzu}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="durum">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Durum'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.durum}}</td>
				   </ng-container>




								<ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateProjeCommand')" data-toggle="modal" data-target="#proje"  (click)="getProjeById(element.id)">
                      <i title="{{'Update'| translate}}" style="color:#ff5722;" class="far fa-edit"></i>
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td  style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteProjeCommand')" (confirm)="deleteProje(element.id)" [swal]="deleteSwal"><i title="{{'Delete'| translate}}" style="color: #D9534E;"class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
							</table>
							<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
							</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="proje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(projeAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
           {{'ProjeForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="projeAddForm" [formGroup]="projeAddForm" (ngSubmit)="save()">
          
					<div class="row">
						<div class="col-md-12">
							<select class="browser-default custom-select" formControlName="ustProjeId">
								<option *ngFor="let item of projelookUp" [value]="item.id"> {{item.label}}</option>
							</select>
						</div>
					</div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="adi" type="text" id="adi" name="adi"
                       formControlName="adi" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('adi')!.hasError('adi') && projeAddForm.get('adi')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="aciklama" type="text" id="aciklama" name="aciklama"
                       formControlName="aciklama" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('aciklama')!.hasError('aciklama') && projeAddForm.get('aciklama')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="urlAdresi" type="text" id="urlAdresi" name="urlAdresi"
                       formControlName="urlAdresi" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('urlAdresi')!.hasError('urlAdresi') && projeAddForm.get('urlAdresi')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="bakimUrlAdresi" type="text" id="bakimUrlAdresi" name="bakimUrlAdresi"
                       formControlName="bakimUrlAdresi" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('bakimUrlAdresi')!.hasError('bakimUrlAdresi') && projeAddForm.get('bakimUrlAdresi')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="logo" type="text" id="logo" name="logo"
                       formControlName="logo" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('logo')!.hasError('logo') && projeAddForm.get('logo')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="icon" type="text" id="icon" name="icon"
                       formControlName="icon" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('icon')!.hasError('icon') && projeAddForm.get('icon')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="iconText1" type="text" id="iconText1" name="iconText1"
                       formControlName="iconText1" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('iconText1')!.hasError('iconText1') && projeAddForm.get('iconText1')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="iconText2" type="text" id="iconText2" name="iconText2"
                       formControlName="iconText2" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('iconText2')!.hasError('iconText2') && projeAddForm.get('iconText2')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="iconText3" type="text" id="iconText3" name="iconText3"
                       formControlName="iconText3" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('iconText3')!.hasError('iconText3') && projeAddForm.get('iconText3')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="ico" type="text" id="ico" name="ico"
                       formControlName="ico" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('ico')!.hasError('ico') && projeAddForm.get('ico')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="kullanimKlavuzu" type="text" id="kullanimKlavuzu" name="kullanimKlavuzu"
                       formControlName="kullanimKlavuzu" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('kullanimKlavuzu')!.hasError('kullanimKlavuzu') && projeAddForm.get('kullanimKlavuzu')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="durum" type="text" id="durum" name="durum"
                       formControlName="durum" />
                <div class="alert alert-danger"
                     *ngIf="projeAddForm.get('durum')!.hasError('durum') && projeAddForm.get('durum')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
                   
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save'|translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon = "error" [showCancelButton]="true"
	[confirmButtonText] = "'OK'"[cancelButtonText] = "'Cancel'" >
</swal>

