<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'BirimAgacKullaniciRolList'| translate}}</h4>
            <a *ngIf="checkClaim('CreateBirimAgacKullaniciRolCommand')" class="pull-right" data-toggle="modal" data-target="#birimagackullanicirol"> <i style="color:white"  title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              
              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
              </div>
							<table mat-table [dataSource]="dataSource" matSort>


								
                   <ng-container matColumnDef="id">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Id'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.id}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="birimAgacId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'BirimAgacId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.birimAgacId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="kRMKLNKOD">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'KRMKLNKOD'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.kRMKLNKOD}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="rolId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'RolId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.rolId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="sureliGorevlendirme">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'SureliGorevlendirme'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.sureliGorevlendirme}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="gorevBaslangicTarihi">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'GorevBaslangicTarihi'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.gorevBaslangicTarihi}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="gorevBitisTarihi">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'GorevBitisTarihi'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.gorevBitisTarihi}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="durum">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Durum'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.durum}}</td>
				   </ng-container>




								<ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateBirimAgacKullaniciRolCommand')" data-toggle="modal" data-target="#birimagackullanicirol"  (click)="getBirimAgacKullaniciRolById(element.id)">
                      <i title="{{'Update'| translate}}" style="color:#ff5722;" class="far fa-edit"></i>
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td  style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteBirimAgacKullaniciRolCommand')" (confirm)="deleteBirimAgacKullaniciRol(element.id)" [swal]="deleteSwal"><i title="{{'Delete'| translate}}" style="color: #D9534E;"class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
							</table>
							<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
							</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="birimagackullanicirol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(birimAgacKullaniciRolAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
           {{'BirimAgacKullaniciRolForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="birimAgacKullaniciRolAddForm" [formGroup]="birimAgacKullaniciRolAddForm" (ngSubmit)="save()">
          
					<div class="row">
						<div class="col-md-12">
							<select class="browser-default custom-select" formControlName="birimAgacId">
								<option *ngFor="let item of birimAgacKullaniciRollookUp" [value]="item.id"> {{item.label}}</option>
							</select>
						</div>
					</div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="kRMKLNKOD" type="text" id="kRMKLNKOD" name="kRMKLNKOD"
                       formControlName="kRMKLNKOD" />
                <div class="alert alert-danger"
                     *ngIf="birimAgacKullaniciRolAddForm.get('kRMKLNKOD')!.hasError('kRMKLNKOD') && birimAgacKullaniciRolAddForm.get('kRMKLNKOD')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
						<div class="col-md-12">
							<select class="browser-default custom-select" formControlName="rolId">
								<option *ngFor="let item of birimAgacKullaniciRollookUp" [value]="item.id"> {{item.label}}</option>
							</select>
						</div>
					</div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="sureliGorevlendirme" type="text" id="sureliGorevlendirme" name="sureliGorevlendirme"
                       formControlName="sureliGorevlendirme" />
                <div class="alert alert-danger"
                     *ngIf="birimAgacKullaniciRolAddForm.get('sureliGorevlendirme')!.hasError('sureliGorevlendirme') && birimAgacKullaniciRolAddForm.get('sureliGorevlendirme')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="gorevBaslangicTarihi" type="text" id="gorevBaslangicTarihi" name="gorevBaslangicTarihi"
                       formControlName="gorevBaslangicTarihi" />
                <div class="alert alert-danger"
                     *ngIf="birimAgacKullaniciRolAddForm.get('gorevBaslangicTarihi')!.hasError('gorevBaslangicTarihi') && birimAgacKullaniciRolAddForm.get('gorevBaslangicTarihi')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="gorevBitisTarihi" type="text" id="gorevBitisTarihi" name="gorevBitisTarihi"
                       formControlName="gorevBitisTarihi" />
                <div class="alert alert-danger"
                     *ngIf="birimAgacKullaniciRolAddForm.get('gorevBitisTarihi')!.hasError('gorevBitisTarihi') && birimAgacKullaniciRolAddForm.get('gorevBitisTarihi')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="durum" type="text" id="durum" name="durum"
                       formControlName="durum" />
                <div class="alert alert-danger"
                     *ngIf="birimAgacKullaniciRolAddForm.get('durum')!.hasError('durum') && birimAgacKullaniciRolAddForm.get('durum')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
                   
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save'|translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon = "error" [showCancelButton]="true"
	[confirmButtonText] = "'OK'"[cancelButtonText] = "'Cancel'" >
</swal>

